.containerLinks {
  max-width: 1120px;
  margin: 32px auto 0 auto;
}

.linksHeader {
  display: flex;
  flex-direction: row;
}

.linksHeader svg {
  margin-right: 14px;
}

.linksHeader h1 {
  color: #fff;
}

.linksItems {
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.linksItems:last-child {
  margin-bottom: 18px;
}

.link {
  border: 0;
  width: 100%;
  min-width: 80%;
  border-radius: 8px;
  height: 46px;
  background-color: rgb(255, 255, 255, 0.15);
  margin-right: 14px;
  display: flex;
  align-items: center;
  padding: 0 14px;
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link svg {
  margin-right: 14px;
}

.linkDelete {
  border: 0;
  background: transparent;
}

@media (max-width: 715px) {
  .containerLinks {
    width: 90%;
  }

  .linksHeader h1 {
    font-size: 30px;
  }

  .linksItems{
    width: 100%;
  }

  .link{
    width: 100%;
  }

  .link svg{
    display: none;
  }
}
